* {

    box-sizing: border-box;
}


.toprow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 60%;
    background-color: palegoldenrod;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding:20px;
    align-items: stretch;
    min-width: 200px;
    width: 30%;
    height: 60%;
    background-color: palegoldenrod;
    justify-content: center;
    text-align: center;

}

.ourCommitment {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding:20px;
    align-items: stretch;
    min-width: 200px;
    width: 30%;
    height: 60%;
    background-color: palegoldenrod;
    text-align: center;
}

.ourQuality {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding:20px;
    align-items: stretch;
    min-width: 200px;
    width: 30%;
    height: 60%;
    background-color: palegoldenrod;
    text-align: center;
}


.collage {
    flex-direction: column;
    width:50%;
    border: 2px solid red;
}

.container-lg {
    text-align: center;

}

.founders {
    color:black; 
    text-align: center;
    margin-top:30px;padding:100px;
    background-color: palegoldenrod;
}

.cardcontainer {
    width: 50%;
    
}

.card-body {
    align-items: center;
    background-color: palegoldenrod;
}

img {

    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    align-items: center;

}


.card-title {
    font-size: 30px;
}

.card-text {
    font-size: 30px;
}


.container text-center {
    background-color: blanchedalmond;

}

.Linkedin {
    font-size: 40px;
    justify-content: center;
    position: absolute;
    bottom: 10px;

}