.headertop {
    background-color: rgb(8, 70, 8);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center
};

.navbar{justify-items: center} /*Does not work*/

.navbar-brand img{width: 70px;
margin-right: 0px;}







