

.headerPosition {
    opacity: 0.5;
    color: black;
    padding: 25px;
    
}

.container-fluid {
    padding: 25px;
}
.productCat {
    color: white;
}

.alignTextToCenter {
    text-align: center;
    margin: 25px;
}