

.headerPosition {
    opacity: 0.5;
    color: black;
    padding: 25px;
    
}

.productCat {
    color: white;
}

.alignTextToCenter {
    text-align: center;

}

.alignTextToCenter > div > a > img {
    width: 66%; /* setting category image to take up 66% of the width */
    border: 1px solid red
}

.alignTextToCenter > div > a > p {
    border: 1px solid blue;
}



.populatedContent {
    text-align: center;
}
.populatedContent > a > img {
    width: 100%; /* setting populated image to take up 66% of the width */
}